Enter Your 3S Email and Your Provided Password to Login

<%= form_for :login_session, url: '/login_session' do |f| %>
<p>
	<div style="width:80px; float:left;">
		<%= f.label :email, "Email" %>
	</div>
	
	<div>
		<%= f.text_field :email%><br>
	</div>
</p>
<p>	
	<div style="width:80px; float:left;">
		<%= f.label :password, "Password" %>
	</div>

	<%= f.password_field :password%><br>
</p>
<p>
	<%= f.submit "Submit" %>
</p>
<% end %>

<%#= link_to "Can't remember password?", '' %>