
<div id="changeRequestInputForm">
------------------------------------------------------------	
	<h4> Change Request Input Form: </h4>


	<p>
		<%= label :changeRequestNumber, "Change Request Number" %><br>
		<%= text_field "log_entry" , "changeRequest[" + index.to_s + "][number]]"%>
	</p>
    
	<p>
		<%= label :changeRequestpRrice, "Change Request Price" %><br>
		<%= text_area "log_entry", "changeRequest[" + index.to_s + "][price]" %>
	</p>
    
    
	<p> 
		Written proof of change request received? <br>
		<%= radio_button("log_entry", "changeRequest[" + index.to_s + "][written_proof]", "no", :checked => "checked") %> No <br>
		<%= radio_button("log_entry", "changeRequest[" + index.to_s + "][written_proof]", "yes") %> Yes
		
	</p>
	
	<p>
		<%= label :writtenProofEvidence, "if written proof is provided, copy paste the email from client that serves as proof" %><br>
		<%= text_area "log_entry", "changeRequest[" + index.to_s + "][writtenProof]" %>
	</p>
	
	<p>
		<%= label :notes, "Enter any additional notes" %><br>
		<%= text_area "log_entry", "changeRequest[" + index.to_s + "][notes]" %>
	</p>
------------------------------------------------------------
</div>



