
<%if false%>
	<%= @todolist %> <br>
<% end %>

<% if true%>
<% if @todolist.has_key? 'projectId'%>
	<%= link_to 'Back to Plan', controller: 'project', action: 'showPlan', id: @todolist['projectId']%> |
	<%= link_to 'Back to project', controller: 'project', action: 'show', id: @todolist['projectId']%>
<% end %>
<br>
<br>
<p>
	<b> <%= Date::DAYNAMES[@date.wday] %> , <%= @date.to_s.split(' ')[0] %>  </b> <br>
</p>
<div style="float:left; width:600px;">
	<%= form_for :todolist, url: {controller: 'todolist', action: 'update', id: @todolist['_id'] }, method: :patch, html: {id: "todolistForm", style: "width:1000px;"} do |f| %>
	

		<%# we need these as opposed to getting these from the todolist saved in the backend. Basically we put all the todolist infos here in the view and use all that to make a new todolist in todolist#update. TODO for future: make it so that these are read from the controller (i.e. todolist#update) as this causes a bit of avoidable data transfer%>
		<%= text_field_tag "todolist[projectId]", "#{@todolist["projectId"]}", style:"display:none;" %>
		<%= text_field_tag "todolist[createdAt]", "#{@todolist["createdAt"]}", style:"display:none;" %>
		<%= text_field_tag "todolist[createdBy]", "#{@todolist["createdBy"]}", style:"display:none;" %>
		<%= text_field_tag "todolist[date]", "#{@todolist['date']}", style:"display:none;" %>
		<%= text_field_tag "todolist[crew]", "#{@todolist['crew']}", style:"display:none;" %>
		
		
		
		<% if not @todolist["todolist name"].nil?  %>
			Todo List Name: <br>
			<%= text_field_tag "todolist[todolistName]", @todolist["todolist name"] ,class: 'textField' %>
		<% end %>
		
		
		
		<%if @todolist.has_key? "todolist name" and not @todolist["todolist name"].empty?%>
			Todo List Name<br>
			<%= text_field_tag "todolist[todolistName]", @todolist["todolist name"] ,class: 'textField' %>

			<br><br>
		<% end %>
		<% if @todolist.has_key? 'crew'%>
		
			<br> Crew:<br>
			<% for personId in @todolist['crew'].split(",")%>
				<%= getPersonEmail personId %> <br>
			<% end%>
			<%#= @todolist['crew']%>
		<% end %>
		
		<hr>
		
		<br><br>
		<div style="display:none;">
			Progress Estimation (Man Hours):<br>
			Total = <%= @todolist['total estimated man hours']%> <br>
	        Finished = <%= @todolist['finished estimated man hours']  %> <br>
	        Remaining = <%= @todolist['estimated man hours left'] %> <br>
			
		</div>
		<br>
		

		
		<% if @todolist.has_key? 'tasks'%>

			Task  
			<span style = "position:relative; left:390px;"> Estimated MH</span> 
			<span style = "position:relative; left:420px;"> Actual MH</span> 
			
			<span style = "position:relative; left:475px;"> Status</span> <br><br>
			<% for i in 0 .. @todolist['tasks'].size-1 %>

				<%if @todolist['tasks'].has_key? "#{i}"  %>
					<%= text_field_tag "[todolist][tasks][#{i}][description]", @todolist['tasks']["#{i}"]['description'] ,class: 'textField task' %>
					
					
					<div style="position:relative; right:500px; float:right;">
					<%= text_field_tag "[todolist][tasks][#{i}][estimated man hours]", @todolist['tasks']["#{i}"]['estimated man hours'] ,class: 'manHoursInput' %>
					</div>
					
					<div style="position:relative; right:350px; float:right;">
					<%= text_field_tag "[todolist][tasks][#{i}][actual man hours]", @todolist['tasks']["#{i}"]['actual man hours'] ,class: 'manHoursInput' %>
					</div>
					
					
					<div style="position:relative; right:150px; float:right;">
						<%= select("[todolist][tasks][#{i}]", "status", 						options_for_select([["In Progress", "In Progress"], ["Finished", "Finished"]], @todolist['tasks']["#{i}"]['status']),  {include_blank: 'Not Started'}) %>
					</div>
					<br><br>			
				<% end %>
			<% end %>
		<% end %>
		
		<%if not @addNewTaskField.nil? and @addNewTaskField %>
			<%= text_field_tag "[todolist][tasks][#{@todolist['tasks'].size}][description]", "" ,class: 'textField task' %>

			<div style="position:relative; right:500px; float:right;">
			<%= text_field_tag "[todolist][tasks][#{@todolist['tasks'].size}][estimated man hours]", "" ,class: 'manHoursInput' %>
			</div>
			


			<br><br>
		<% end %>		
	
		<%= f.submit "Update" , data: { submissionMethod: 'update button'}%>
		
	<% end %>

</div>




<% if false%>
	Tasks:<br>

	<% if @todolist.has_key? 'tasks'%>
		<% for i in 0 .. @todolist['tasks'].size-1 %>
			<hr>
			<%=  @todolist['tasks']["#{i}"]%> <br>
		<% end %>
	<% end %>
<% end %>
<% end %>