
<% if true%>
project = 
	<%= @project%> <br><br>

tasks = <%= @tasks%>
<% end %>

<p>
	<%= link_to 'Back to Project', {controller: 'project', action: 'show', id: @project['_id'].to_s }%><br>
	<%= link_to "Upload New Task Spread Sheet", controller: 'tasklist_generator', action: 'new', id: @project['_id']%>  
	
</p>	


 



<%#= form_tag(controller: "tasklist_generator", action: "update", method: "patch") do %>
<%= form_tag({controller: "tasklist_generator", action: "update", id: @project['_id'].to_s },  {multipart: true, method: :patch})  do %>

	Choose Action:<br>
	<%= select_tag("actionSelect", options_for_select([['Set Start Date', 'set start date'], ['Set Due Date', 'set due date'], ['Mark Done', 'mark done'], ['Undo Mark Done', 'undo mark done']]), {include_blank: 'none'} ) %>
	<%= submit_tag "submit"%>
	<br><br>


	<div id="startDateSelector" style="display:none;" class="action">
		<p>
			Start Date:
			<%= date_select 'start date', 'date',selected: Date.today ,class: "required textField" %>
			<%#= text_field_tag 'dueDate'%>
			<%#= date_select 'dueDate', 'date' %>
		</p>
	</div>


	<div id="dueDateSelector" style="display:none;" class="action">
		<p>
			Due Date:
			<%= date_select 'due date', 'date' , selected: Date.today ,class: "required textField" %>
			<%#= text_field_tag 'dueDate'%>
			<%#= date_select 'dueDate', 'date' %>
		</p>
	</div>
	
	<div style="float:left; width:2000px; height_:100px;">
		<div style="float:left; width:400px;">
			Task
		</div>
		
		<div style="float:left; width:200px;">
			Quantity
		</div>
		
		<div style="float:left; width:200px;">
			Quantity Done
		</div>

		
		<div style="float:left; width:200px;">
			Value Percentage
		</div>
		
		<div style="float:left; width:140px;">
			<% #Start Date %>
			<%= link_to 'Start Date', {action: 'sortByTime',  projectId: @project['_id'], 'sort by start time' => true} %>
		</div>

		<div style="float:left; width:400px;">
			<%#Due Date %>
			<%= link_to 'Due Date', {action: 'sortByTime',  projectId: @project['_id'], 'sort by due date' => true} %>
		</div>
		


	</div>
	<hr>
	
	<% i = 0 %> 
	<% for tasknum_task in @tasksArray%>
		<% task = tasknum_task[1] %>
		<% taskNum = task["task number"].to_i %> 
	
		<% if task['task'].nil? %>
			<%next%>
		<% end %>
		<% if task['task'].strip.empty? %>
			<%next%>
		<% end %>
		
		<% if task.has_key? 'isDone' and task['isDone'] == true %>
			<% if task.has_key? 'dueDate' and task['dueDate'] < task['marked done at'] #if task was marked done after its due date%>
				<div style="float:left; width:2000px; height_:100px; background-color:orange;">	
			<% else %>
				<div style="float:left; width:2000px; height_:100px; background-color:green;">
			<% end %>
		<% else %>
			<% if task.has_key? 'dueDate' and task['dueDate'] < Time.now %>
				<div style="float:left; width:2000px; height_:100px; background-color:red;">
			<% elsif task.has_key? 'start date' and task['start date'] < Time.now %>
				<div style="float:left; width:2000px; height_:100px; background-color:yellow;">
			<% else %>
				<div style="float:left; width:2000px; height_:100px;">
			<% end %>
		<% end %>
			<%#= task%>
			<div style="float:left; width:400px;">
				<%#= check_box_tag "[tasks][#{i}]" %>
				<%= check_box_tag "[tasks][#{taskNum}]" %>
				<%= task['task'] %> 
				<%#= task[(i+1).to_s] %> 
			</div>
			
			<div style="float:left; width:200px;">
				<%= printReplaceEmpty task['quantity'].to_s  %> 
			</div>
			
			<div style="float:left; width:200px;">
				<% if task.has_key? 'quantity' and not task['quantity'].nil? %>
					<% q = task['quantity'].to_i %>
					<%#= select_tag("quantity_done[#{i}]", options_for_select(Array(1..q), task['quantity_done'] ), {include_blank: 'none'} ) %>
					<%= taskNum %> <-
					<%= select_tag("quantity_done[#{taskNum}]", options_for_select(Array(1..q), task['quantity_done'] ), {include_blank: 'none'} ) %>
				<% else %>
					_ 
				<% end %>
			</div>
			
			<div style="float:left; width:200px;">
				<% if task.has_key? 'quantity' and not task['quantity'].to_s.empty? and not task['quantity_done'].nil? and not task['quantity_done'].to_s.empty? %>
					<%= printReplaceEmpty( ( ( Float(task['value percentage'])  * Float(task['quantity_done']) / Float(task['quantity'])  * 1000.0).to_i.to_f / 10.0).to_s)   %> 
					
				<% else %>
					_
				<% end %>
				
				/ <%= printReplaceEmpty( ((task['value percentage'].to_f * 1000).to_i.to_f / 10.0).to_s )  %> 
			</div>
			
			
			<div style="float:left; width:140px;">
				<% if task.has_key? 'start date'%>
					<%= task['start date'].to_s.split()[0]%> 
				<% else %>
					<%= " _ "%>
				<% end %>
			</div>
		
			<div style="float:left; width:200px;">
				<% if task.has_key? 'dueDate'%>
					<%= task['dueDate'].to_s.split()[0]%>
				<% else %>
					<%= " _ "%>
				<% end %>
			</div>
			
			<div style="float:left; width:200px;">
				<%#= file_field_tag "[taskFiles][#{i}]" %>
				<%= file_field_tag "[taskFiles][#{taskNum}]" %> <%= taskNum%>
				<% if task.has_key? 'files'%>
					<%= link_to 'Show Task Files', {action: 'showTaskFiles', taskNum: taskNum, projectId: @project['_id']} %>
				<% end %>
			</div>
			

		</div>
		
		<%= text_field_tag "[taskComments][#{taskNum}]", task['comment'], style:"width:300px;" %>

		<hr>
		<% i = i+1%>
	<% end %>
	
	
	
	<%= submit_tag "submit"%>

<% end %>
<br>



<% if false%>
	---------
	<%for r in @s.first_row.to_i .. @s.last_row.to_i %>
		<%#= @s.row(r)%>
		<% if @s.row(r)[0].downcase.include? 'antenna install'%>
			<% #TBD (Antenna Install) <br> TODO put antenna JCR form as an html form maybe %>
			<%= @s.row(r) %> <br>
		<% else %>
			<%= @s.row(r) %> <br>
		<% end %>
	<% end %>
<% end %>
