<h2> New User Form:</h2>

<%= form_for :person, url: '/person' do |f| %>
<p>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email%><br>
	
	<%= f.label :password, "Password" %>
	<%= f.text_field :password%><br>
	
	<p> 
 		Person's Role:<br><br>
		<%#= radio_button("person", "role", "cite manager") %> <!-- cite manager --> 
		<%= radio_button("person", "role", "project manager admin") %> Project Manager Admin: Can read / write project milestones list <br><br>
		<%= radio_button("person", "role", "project manager") %> Project Manager: Can read / write project milestones list and orders  <br><br>
		
		<%= radio_button("person", "role", "admin") %> Admin: full access
	</p>
	
	<%= f.label :name, "Name" %>
	<%= f.text_field :name%><br>
	
	<p>
		<%= f.label :notes, "Enter any additional notes" %><br>
    	<%= f.text_area :notes %>
	</p>
	
	
	<p>
    	<%= f.submit "Submit" %>
  	</p>
	
</p>
	
<% end %>