New User Form:

<%= form_for :person, url: '/person' do |f| %>
<p>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email%><br>
	
	<%= f.label :password, "Password" %>
	<%= f.text_field :password%><br>
	
	<p> 
 		Person's Role:<br><br>
		<%#= radio_button("person", "role", "cite manager") %> <!-- cite manager --> 
		<%= radio_button("person", "role", "project manager") %> project manager role: Can see/edit/create own log entries <br><br>
		
		<%= radio_button("person", "role", "admin") %> Admin (full access): Can create own log entries. See/edit everybody else's log entries. Can see list of all existing people and sites. Can delete/create new people and sites.
	</p>
	
	<%= f.label :name, "Name" %>
	<%= f.text_field :name%><br>
	
	<p>
		<%= f.label :notes, "Enter any additional notes" %><br>
    	<%= f.text_area :notes %>
	</p>
	
	
	<p>
    	<%= f.submit "Submit" %>
  	</p>
	
</p>
	
<% end %>