<table>
	<tr>
		<td>
			Name
		</td>
		<td>
			Email
		</td>
		<td>
			Role
		</td>
	</tr>
	
	<tr>
		<td>
			<%= person['name'] %>
		</td>
		<td>
			<%= linkToPerson person['_id'] %>
		</td>
		<td>
			<%= person['role'] %>
		</td>
		<td>
			<%= link_to 'Delete', {action: 'destroy', id: person['_id']}, {method: :delete, data: { confirm: "Are you sure?" }} %>
		</td>
		
		<td>
			<%= link_to 'Edit', {action: 'edit', id: person['_id']}, {method: :get} %>
		</td>
		
		
	</tr>
</table>
	