

<div style="width:3500px;">
	<hr style="margin:0px;">
	<div style="width:3500px; _background-color:#CEF6CE;">
		<div class='wSmall'>
			<b> 3SN Project Id </b>
		</div>
		
		<div class='wSmall'>
			<b> Customer Site ID </b>
		</div>

		
		<div class='wSmall'>
			<b> % Earned Value </b>
		</div>
		
		<div class='wSmall'>
			<b> % Time Passed </b>
		</div>

		
		<div class='wSmall' style="_background-color:#CEF6CE;">
			<b> Program </b>
		</div>
		
		<div class='wSmall'>
			<b> 3SN Customer ID </b>
		</div>
		
		<div class='wSmall' style="__background-color:#CEF6CE;">
			<b> Type </b>
		</div>
		
		<div class='wSmall'>
			<b> Operator Id </b>
		</div>	
			

	</div>
	
	<div style="width:2500px; float:left;">
		<!-- this if is for showing id only if name is not presenting, right now opting for just showing both so this is not really used april 14 2014, soheil-->
		<% if project['projId3s'].nil? or project['projId3s'].empty? %>
			<% linkText = project['_id'].to_s %>
		<% else %>
			<% linkText = project['projId3s'] %>
		<% end %>
		<div class='wSmall'>
			<%= link_to linkText, {controller: 'project', action: 'show', id: project['_id'].to_s}, {style: "color:green;"} %>
		</div>
		
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			
			<%= printReplaceEmpty project["customerSiteId"].to_s %>
			<%#= printReplaceEmpty project["numDoneTasks"].to_s %>  <%#=  printReplaceEmpty project["numTasks"].to_s %> 
		</div>

		
		
		<%#--------Efficiency and Timliness stats--------%>
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			<%= printReplaceEmpty  ((project['earned value'].to_f * 1000).to_i.to_f / 10.0).to_s  %>
		</div>
		
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			<%= printReplaceEmpty (project['percent time passed']).to_s  %>
		</div>
		
		<%#--------Efficiency and Timliness stats for the old system with daily todolist--------%>
		<% if false %>
			<div class='wSmall'  style="__background-color:#CEF6CE;">
				<%=  project["total finished hours estimate"].to_s %> / <%=  printReplaceEmpty project["total actual man hours"].to_s %> 
			</div>
		
			<div class='wSmall'  style="__background-color:#CEF6CE;">
				<%= project["total unfinished hours estimate"].to_s %>
			</div>
		
			<div class='wSmall'  style="__background-color:#CEF6CE;">
				<%= project['total future man hours estimate'].to_s %>
			</div>
		<% end %>
		<%#----------------%>
		

		<% if false and  not project["total unfinished hours estimate"].nil? and not project["total finished hours estimate"].nil? %>
			<div class='wSmall'>
				<%=  printReplaceEmpty project["total actual man hours"].to_s %> / <%=  printReplaceEmpty (project["total unfinished hours estimate"] + project["total finished hours estimate"]).to_s %> / <%= project["total unfinished hours estimate"].to_s %>
			</div>
		<% end %>
		
		
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			<%=  printReplaceEmpty getProgramName project['program'] %> 
		</div>
		
		<div class='wSmall' >
			<%=  printReplaceEmpty getNameFromBsonId $customer_collection,  'customerName', project['customerId'] %> 
		</div>
		
		<div class='wSmall' style="__background-color:#CEF6CE;">
			<%= printReplaceEmpty getNameFromBsonId $projectType_collection,  'projectTypeName', project['projType'] %> 
			
		</div>
		
		
		<div class='wSmall'>
			<%= printReplaceEmpty project['operatorId'] %>
		</div>

		<div class='wSmall'>
			<%= link_to 'Delete', {action: 'destroy', id: project['_id']}, {method: :delete, data: { confirm: "Are you sure?" }} %>
		</div>
		
	</div>
	<br>
	<br>

</div>



