

<div style="width:1400px;">
	<hr style="margin:0px;">
	<div style="width:1400px; _background-color:#CEF6CE;">
		<div class='wSmall'>
			<b> 3SN Project Id </b>
		</div>
		
		<div class='wSmall'>
			<b> Name </b>
		</div>
		
		
		<div class='wSmall' style="_background-color:#CEF6CE;">
			<b> Program </b>
		</div>
		
		<div class='wSmall'>
			<b> 3SN Customer ID </b>
		</div>
		
		<div class='wSmall' style="__background-color:#CEF6CE;">
			<b> Type </b>
		</div>
		
		<div class='wSmall'>
			<b> Operator Id </b>
		</div>	
	</div>
	
	<div style="width:1800px; float:left;">
		<!-- this if is for showing id only if name is not presenting, right now opting for just showing both so this is not really used april 14 2014, soheil-->
		<% if project['projId3s'].nil? or project['projId3s'].empty? %>
			<% linkText = project['_id'].to_s %>
		<% else %>
			<% linkText = project['projId3s'] %>
		<% end %>
		<div class='wSmall'>
			<%= link_to linkText, {controller: 'project', action: 'show', id: project['_id'].to_s}, {style: "color:green;"} %>
		</div>
		
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			<%=  printReplaceEmpty project['projName'] %> 
		</div>
		
		
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			<%=  printReplaceEmpty project['program'] %> 
		</div>
		
		<div class='wSmall' >
			<%=  printReplaceEmpty project['customerId'] %> 
		</div>
		
		<div class='wSmall' style="__background-color:#CEF6CE;">
			<%=  printReplaceEmpty project['projType'] %> 
		</div>
		
		
		<div class='wSmall'>
			<%= printReplaceEmpty project['operatorId'] %>
		</div>

		<div class='wSmall'>
			<%= link_to 'Delete', {action: 'destroy', id: project['_id']}, {method: :delete, data: { confirm: "Are you sure?" }} %>
			|	
			<%= link_to 'Edit', {action: 'edit', id: project['_id']}%>
		</div>
	</div>
	<br>
	<br>

</div>



