<% order = project['orders'][orderId3sn]%> 
<%#= project %>


<div style="width:2000px; background-color:<%=background_color%>; height:60px; margin:0px; padding:0px; float:left;">
	<hr style="margin:0px;" >
	<div style="width:1600px; float:left; background-color:<%=background_color%>; height:30px;">
		<div class='wSmall'>
			<b> 3SN Order Id </b>
		</div>
		
		<div class='wSmall'>
			<b> Amount </b>
		</div>
		
		
		<div class='wSmall' style="_background-color:#CEF6CE;">
			<b> PO Submitted? </b>
		</div>
		
		<div class='wSmall' style="_background-color:#CEF6CE;">
			<b> Created At </b>
		</div>

		
	</div>
	
	<div style="width:2000px; float:left; background-color:<%=background_color%>; height:30px; padding:0px;">
		
		<div class='wSmall'>
			<%= link_to "#{project['projId3s']}-#{orderId3sn}", controller: 'project', action:'showSprintOrder', id: @project['_id'], orderId3sn: orderId3sn%> 
		</div>
		
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			<%= getTotalForOrder order  %>
		</div>
		
		
		<div class='wSmall'  style="__background-color:#CEF6CE;">
			<%if order.has_key? 'matchingPoLinesSubmitted' and order['matchingPoLinesSubmitted'] == true %>
				Yes
			<% else %>
				No
			<% end %>
		</div>
		
		<div class='wSmall' >
			<%= printReplaceEmpty order['createdAt'].to_s %> 
		</div>
		
		
		<div class='wSmall'>
			<%= link_to 'Delete', {action: 'destroy', id: project['_id'], orderId3sn: orderId3sn}, {method: :delete, data: { confirm: "Are you sure?" }} %>
		</div>
		
	</div>
	
</div>




