<h1>Editing Project</h1>
 
<%= form_for :project, url: {controller: 'project', action: 'update', id: @project['_id']}, method: :patch do |f| %>
	
	<p>
		<%= f.label :proj, 'Project ID'%><br>
		<%= text_field_tag "project[projId3s]", "#{@project['projId3s']}" %>
	</p>
	<p>
		<%= f.label :proj, '3SN Customer ID'%><br>
		<%= text_field_tag "project[customerId]", "#{@project['customerId']}" %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
	
<% end %>