
<%= form_for :order, url: {controller: 'project', action: 'updateOrder', id: @project['_id']}, method: :patch do |f| %>
	
	<%= text_field_tag 'orderId3sn', @orderId3sn , style:"display:none;"  %><br>
	
	<%if @numBidLines > 0 %>
		BID:
		<%= render :partial => 'project/sprintOrderLines', locals: {numlines: @numBidLines, prefillBidOrPo: @prefillBid, bidOrPo: 'bid'  } %>
	<% end %>
	
	<% if @numPoLines > 0 %>
		<br>
		PO:
		<%= render :partial => 'project/sprintOrderLines', locals: {numlines: @numPoLines, prefillBidOrPo: @prefillPo, bidOrPo: 'po'  } %>
		
		<% if  @project['orders']["#{@orderId3sn}"].has_key? 'poNumber'%>
			<p>
				PO Number:<br>
				<%= text_field_tag '[order][poNumber]', @project['orders']["#{@orderId3sn}"]["poNumber"], class:"textField"  %><br>
			</p>
		<% end %>
		
		<% if  @project['orders']["#{@orderId3sn}"].has_key? 'poDate'%>
			<p>
				PO Date:
				<%= date_select '[order][poDate]', :poDate, selected: @poDate %>
				<%#= f.date_select '[poDate][poDate]', selected: @poDate %>
				<%#= date_select 'poDate', :poDate %>
			</p>
		<% end %>
	<% end %>
	
	<p>
		<%= f.submit "Save Order" %>
	</p>
<% end %>