
<%= link_to 'Back to Plan', action: 'showPlan', id: @project['_id'].to_s%><br><br>

<% if false %>
	<%= @unfinishedTasks %> <br>
<% end %>

Task  
<span style = "position:relative; left:390px;"> Estimated MH</span> 
<span style = "position:relative; left:420px;"> Actual MH</span>

<% @unfinishedTasks.each do |day, tasks| %>
	<hr>
	<b> <%= "#{day}:" %><br> </b>
	<% tasks.each do |taskNum, taskAtts| %>
		<div style="width:800px; float:left;" >
			<div style="width:450px; float:left;">
				<%= taskAtts['description']%>
			</div>
			<div style="width:30px; float:left;">
			 	<%=taskAtts['estimated man hours'] %>
			</div>
		
			<div style="width:30px; float:left;">
	
				<%if taskAtts.has_key? 'actual man hours'%> 
		
					 <span style = "position:relative; left:100px;"> <%= taskAtts['actual man hours']%> <span>
				<% end %>
			
			</div>		
			<div style="width:100px; float:right ;">
				<%= link_to 'reschedule', action: 'rescheduleTaskChooseNewDay', originalDay: day, taskNum: taskNum, id: @project['_id'] %>
			</div>
			
		</div>
		<br>
	<% end %>
<% end %>