

<h2> New Project:</h2>

<%= form_for :project, url: '/project' do |f| %>
	
	<p>
		<%= f.label :projId3s, "3SN Project ID" %><br>
		<%= f.text_field :projId3s, :value => @projId3s%>
	</p>
	
	<p>
		<%= f.label :customerId, "3SN Customer ID" %><br>
		<%= f.text_field :customerId%>
	</p>
	
	<p>
		<%= f.label :program, "3SN Program" %><br>
		<%= f.text_field :program%>
	</p>
	
	
	<p>
		<%= f.label :projName, "3SN Project Name" %><br>
		<%= f.text_field :projName%>
	</p>
	
	
	<p>
		<%= f.label :program, "Project Type" %><br>
		<%= f.text_field :projType%>
	</p>
	
	<p>
		<%= f.label :operatorId, "3SN Operator ID" %><br>
		<%= f.text_field :operatorId%>
	</p>
	
	<p>
		<%= f.label :projManager, "3SN Project Manager" %><br>
		<%= f.text_field :projManager%>
	</p>
	
	<p>
		<%= f.label :projManager, "3SN Project Controller" %><br>
		<%= f.text_field :projController%>
	</p>
	
	<p>
		<%= f.label :startDate, "Start Date" %><br>
		<%= f.text_field :startDate%>
	</p>
	
	<p>
		<%= f.label :endDate, "End Date" %><br>
		<%= f.text_field :endDate%>
	</p>
	
	<%= f.submit "Submit", class: 'disabledTillFilled' , disabled:"disabled"%>
	
<%end%>
<br>
