<%#= @project%>

<div style="width:400px;">
	

<div style="float:left; width:400px;">

	<%#= render partial: 'show', locals: {project:  @project} %>
	<p>
		<%= link_to "Back to Projects List",  :controller => 'project', :action => 'index' %> 
		|	
		<%= link_to 'Edit', {action: 'edit', id: @project['_id']}%> <br><br>
		
		<%= link_to "Milestones", controller: 'project', action: 'showMilestones', id: @project['_id']%>  
		|
		<%= link_to "Plan", controller: 'project', action: 'showPlan', id: @project['_id']%>  
		|
		<%= link_to "Upload Task Spread Sheet", controller: 'tasklist_generator', action: 'new', id: @project['_id']%>  
		
		<% role =get_current_user['role']%>
		<% if role == 'admin' or role == 'project manager' or role == 'project controller'%>
			| <%= link_to "Orders",  :controller => 'project', :action => 'indexSprintOrders', :id => @project['_id'] %>  <br>
		<% end %>

	</p>
	

	<p>
		<b><span style="font-style:bold;"> <%= "3SN Project ID" %> </span> </b><br>
		<% if @project['projId3s'].nil? or @project['projId3s'].empty? %>
			<% linkText = @project['_id'].to_s %>
		<% else %>
			<% linkText = @project['projId3s'] %>
		<% end %>
		<%= printReplaceEmpty linkText %>
	</p>

	<p>
		<b> <%=  "3SN Project Name" %> </b><br>
		<%= printReplaceEmpty @project['projName']%>
	</p>

	<p>
		<b> <%= "3SN Program" %> </b> <br>
		<%= printReplaceEmpty getProgramName  @project['program']%>
	</p>
	
	<p>
		<b><%= "3SN Project Type" %></b><br>
		<%= printReplaceEmpty getNameFromBsonId $projectType_collection,  'projectTypeName', @project['projType'] %> 
		
	</p>

	<p>
		<b><%= "3SN Customer ID" %></b><br>
		<%= printReplaceEmpty getNameFromBsonId $customer_collection,  'customerName', @project['customerId'] %>
	</p>
	
	<p>
		<b><%= "Customer Site ID" %></b><br>
		<%= printReplaceEmpty getNameFromBsonId $customer_collection,  'customerName', @project['customerSiteId'] %>
	</p>


	<p>
		<b>	<%=  "3SN Operator ID" %></b><br>
		<%= printReplaceEmpty @project['operatorId']%>
	</p>

	<p>
		<b><%=  "3SN Project Manager" %></b><br>
		<%= printReplaceEmpty getPersonEmail @project['projManager']%>
	</p>
	
	<p>
		<b><%=  "3SN Project Manager Admin" %></b><br>
		<%= printReplaceEmpty getPersonEmail @project['project manager admin']%>
	</p>
	

	<p>
		<b><%=  "3SN Project Controller" %></b><br>
		<%= printReplaceEmpty getPersonEmail @project['projController']%>
	</p>

	<p>
		<b><%= "Start Date" %></b><br>
		<%if @project.has_key? 'startDate(1i)'%>
			<%= render partial: "layouts/show_date", locals: {year:  @project['startDate(1i)'], month:  @project['startDate(2i)'] , day: @project['startDate(3i)'] } %>
		<% else %>
		 _
		<% end %>
	</p>

	<p>
		<b><%=  "End Date" %></b><br>
		<%if @project.has_key? 'endDate(1i)'%>
			<%= render partial: "layouts/show_date", locals: {year:  @project['endDate(1i)'], month:  @project['endDate(2i)'] , day: @project['endDate(3i)'] } %>
		<% else %>
		 _
		<% end %>
		<%#= printReplaceEmpty @project['endDate']%>
	</p>


	<p>
		<b><%=  "Created AT" %></b><br>
		<%= printReplaceEmpty @project['createdAt'].to_s %><br><br>
	</p>



</div>

