<%= link_to 'Parent Project', {controller: 'project', action: 'show', id: @project['_id']}%> <br>

<div>
	<div>
		<h2> <a id="milestones">Project Milestones</a> </h2>
	</div>
	<%backgroundAlternater = -1%>
	<% for dependency in @milestoneDependecies %>
		<hr style="margin:0px">
		<% prereqs = dependency.slice(1,dependency.length) %>
		<% milestone = dependency[0][:milestone] %>
		<% milestoneNumber = dependency[0][:number] %>

		<%if backgroundAlternater < 0%>
			<div style="background-color: white; height:150px;">  <span style="float:left;"> <%= milestoneNumber %> <b> <%= milestone %>  </b> </span> <br>
		<% else %>
			<div style="background-color: beige; height:150px;">  <span style="float:left;"> <%= milestoneNumber %> <b> <%= milestone %> </b> </span>  <br>
		<% end %>
		<%backgroundAlternater = -1 * backgroundAlternater%>
		
			

		<% if @project.has_key? 'milestones' and @project['milestones'].has_key? milestone  #milestone is in progress or done %>
				<% if  @project['milestones'][milestone].has_key? 'files'%>
					<div style="margin:10px;">
						<%= link_to "Milestone Files", {controller: 'project', action: 'milestone_files', id: @project['_id'], milestone: milestone  }%>
					</div>
				<% end %>
	
			

				<% if @project['milestones'][milestone].has_key? 'done' and @project['milestones'][milestone]['done'] == 'true' #milestone's done'%>
					<div style = "margin:10px;">
					Completed : <%= printReplaceEmpty @project['milestones'][milestone]['markedDoneAt'].split(" ")[0] %> by <%= linkToPerson @project['milestones'][milestone]['markedDoneBy'] %>
					</div>
				<%# else %>

					<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone, filesOnly: true} %>
				<% end %>

			
	
		<% elsif prereqs.empty?  #milestone ready to be started as it has no prereqs%>
			<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone, filesOnly: false} %>		
		<% elsif  @project.has_key? 'milestones' %>
			<% #see if prereqs are met %>
			<% prerecsMet = true %>
			<% for prereq in prereqs %>
				<% if not (@project['milestones'].has_key? prereq and @project['milestones'][prereq].has_key? 'done' and @project['milestones'][prereq]['done'] == 'true') %>
					<% prerecsMet = false %>
				<% end %>
			<% end %>
			<% if prerecsMet == true %> 
				<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone, filesOnly: false} %>	
			<% else #milestone has unmet prereqs'%>
				<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone, filesOnly: true } %>	
			<% end %>
		<% else %>
			<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone, filesOnly: true } %>	
			<%# Not Ready for Start %>
		<% end %>
		
		
		</div>
		
	<% end %>
</div>
