

<%= link_to 'Orders', {controller: 'project', action: 'indexSprintOrders', id: @project['_id']} %> | <%= link_to 'Edit', {controller: 'project', action: 'editSprintOrder', id: @project['_id'], orderId3sn: @orderId3sn } %><br><br>



<% order = @project['orders'][@orderId3sn] %><br>
<b> Order ID: </b><br>
<%= "#{@project['projId3s']}-#{@orderId3sn}"%><br><br>

<%if order.has_key? 'bidFile'%>
	<b> Bid File: </b>	<%=link_to order['bidFile'], "/uploads/#{@project['projId3s']}__#{@project['_id']}/orders/#{@orderId3sn}/#{order['bidFile']}"%><br>
	
<% end %>

<br>



<%#= order %>
<%if  order.has_key? 'bid' and order['bid'].has_key? 'lines'%>

	<b>
	<%#if order.has_key? 'matchingPoLinesSubmitted'%>

		Bid Lines:

	</b>
	
	<%= render partial: "showSprintOrderLines", locals: { order: order, bidOrPo: 'bid'} %>
	
	<%if order.has_key? 'po'%>
		
		<%if order.has_key? 'matchingPoLinesSubmitted' and order['matchingPoLinesSubmitted'] == true%>
			<p>	<br>
				<b> PO Lines: </b> Entered PO Lines match those in bid. 
			</p>
		<% else %>
		<p>	<br>
			<b> PO Lines: </b> Entered PO Lines <b> Do Not </b> match those in bid. 
		</p>
		<% end %>
		<b> PO Lines:<br> </b>
		<%= render partial: "showSprintOrderLines", locals: { order: order, bidOrPo: 'po'} %>
		
		<p>
			<b> PO Number: </b> <%= order['poNumber'] %>
		</p>
		<p>
			<b> PO Date: </b>  <%= render partial: "layouts/show_date", locals: {year:  order['poDate']['poDate(1i)'], month:  order['poDate']['poDate(2i)'] , day: order['poDate']['poDate(3i)'] } %>
		</p>
		<% if order.has_key? 'poFile' and order['poFile'] != nil%>
			<p>
				<b> PO File: </b> <%=link_to order['poFile'], "/uploads/#{@project['projId3s']}__#{@project['_id']}/orders/#{@orderId3sn}/poFile/#{order['poFile']}"%><br>
			</p>
		<% else %>
			<p>
				<b> PO File: </b> No PO file submitted
			</p>
		<% end %>
		Entered by <%= linkToPerson order['createdBy']%> At <%= 	order['createdAt']%>
	<% end %>
	
	<% if not order.has_key? 'po' %>

		<br><br>
		<h3> PO Form </h3>
		
		<div id="lineGenerationFrom">
			<%= form_tag({controller: 'project', action: 'generateSprintOrderLines', id:'po'}, {method: :get,  remote: true}) do %>
				Number of PO lines: <br>

				<%= text_field_tag "numLines", value="#{order['bid']['lines'].size}" %> 
				<%= text_field_tag "orderId3sn", value= @orderId3sn, style:"display:none;"  %><br>
				<%= submit_tag "Generate"%>
			<% end %>
		</div>

		<%#TODOsprint require that they enter all fields before submitting, including a file%>
		<%= form_for :order, url:{controller:'project', action: 'addPoToSprintOrder', id: @project['_id'] }, method: 'patch' do |f| %>

			<div id='linesGoHere'>
			</div>
			
			<%= text_field_tag 'orderId3sn', @orderId3sn , style:"display:none;"  %><br>
			<p>
				PO Number:<br>
				<%= text_field_tag 'poNumber', "" , class:"textField"  %><br>
			</p>
			<p>
				PO Date:
				<%= date_select 'poDate', :poDate %>
			</p>
			<br><br>
			
			


			Upload PO Document:
			<%= f.file_field "[poFile]" %><br><br>

			<%= f.submit "Submit"%>

		<% end %>


	<% end %>
<% end %>


