<%= @project%>

<div style="width:400px;">
	
<h2> Sprint Project </h2>

<div style="float:left; width:400px;">

	<%#= render partial: 'show', locals: {project:  @project} %>
	<p>
		<%= link_to "Back to Projects List",  :controller => 'project', :action => 'index' %>  <br><br>
	</p>
	<p>
		<%= link_to "Orders",  :controller => 'project', :action => 'indexSprintOrders', :id => @project['_id'] %>  <br><br>

		<%= link_to "Project Milestones", "#milestones"%>
	</p>
	
	

	<p>
		<span style="font-style:bold;"> <%= "3SN Project ID" %> </span> <br>
		<% if @project['projId3s'].nil? or @project['projId3s'].empty? %>
			<% linkText = @project['_id'].to_s %>
		<% else %>
			<% linkText = @project['projId3s'] %>
		<% end %>
		<%= printReplaceEmpty linkText %>
	</p>

	<p>
		<%=  "3SN Project Name" %><br>
		<%= printReplaceEmpty @project['projName']%>
	</p>

	<p>
		<%= "3SN Program" %><br>
		<%= printReplaceEmpty getProgramName  @project['program']%>
	</p>
	
	<p>
		<%= "3SN Project Type" %><br>
		<%= printReplaceEmpty getNameFromBsonId $projectType_collection,  'projectTypeName', @project['projType'] %> 
		
	</p>

	<p>
		<%= "3SN Customer ID" %><br>
		<%= printReplaceEmpty getNameFromBsonId $customer_collection,  'customerName', @project['customerId'] %>
	</p>
	
	<p>
		<%= "Customer Site ID" %><br>
		<%= printReplaceEmpty getNameFromBsonId $customer_collection,  'customerName', @project['customerSiteId'] %>
	</p>


	<p>
		<%=  "3SN Operator ID" %><br>
		<%= printReplaceEmpty @project['operatorId']%>
	</p>

	<p>
		<%=  "3SN Project Manager" %><br>
		<%= printReplaceEmpty getPersonEmail @project['projManager']%>
	</p>

	<p>
		<%=  "3SN Project Controller" %><br>
		<%= printReplaceEmpty getPersonEmail @project['projController']%>
	</p>

	<p>
		<%= "Start Date" %><br>
		<%if @project.has_key? 'startDate(1i)'%>
			<%= render partial: "layouts/show_date", locals: {year:  @project['startDate(1i)'], month:  @project['startDate(2i)'] , day: @project['startDate(3i)'] } %>
		<% else %>
		 _
		<% end %>
	</p>

	<p>
		<%=  "End Date" %><br>
		<%if @project.has_key? 'endDate(1i)'%>
			<%= render partial: "layouts/show_date", locals: {year:  @project['endDate(1i)'], month:  @project['endDate(2i)'] , day: @project['endDate(3i)'] } %>
		<% else %>
		 _
		<% end %>
		<%#= printReplaceEmpty @project['endDate']%>
	</p>


	<p>
		<%=  "Created AT" %><br>
		<%= printReplaceEmpty @project['createdAt'].to_s %><br><br>
	</p>



</div>
<br><br>
<div>
	<div>
		<h2> <a id="milestones">Project Milestones</a> </h2>
	</div>

	<% for dependency in @milestoneDependecies %>
		<% prereqs = dependency.slice(1,dependency.length) %>
		<% milestone = dependency[0] %>
	
		<div> <span style="float:left;"> <%= milestone %> </span> <br>

		<% if @project.has_key? 'milestones' and @project['milestones'].has_key? milestone #milestone is in progress or done %>
			<% if @project['milestones'][milestone].has_key? 'done' and @project['milestones'][milestone]['done'] == 'true' #milestone's done'%>
				done
			<% else %>
				<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone} %>
			<% end %>
			<%= render partial: 'milestone_files', locals: {milestone: @project['milestones'][milestone]} %>
	
		<% elsif prereqs.empty?  #milestone ready to be started as it has no prereqs%>
			<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone} %>		
		<% elsif  @project.has_key? 'milestones' %>
			<% #see if prereqs are met %>
			<% prerecsMet = true %>
			<% for prereq in prereqs %>
				<% if not (@project['milestones'].has_key? prereq and @project['milestones'][prereq].has_key? 'done' and @project['milestones'][prereq]['done'] == 'true') %>
					<% prerecsMet = false %>
				<% end %>
			<% end %>
			<% if prerecsMet == true %>
				<%= render partial: 'milestone_forms', locals: {id:  @project['_id'], milestone: milestone} %>	
			<% else #milestone has unmet prereqs'%>
				Not Ready for Start
			<% end %>
		<% else %>
			Not Ready for Start
		<% end %>
		
		</div>
		<br>
		
	<% end %>
</div>
