
<%if false %>
	<%= @project %> <br> <br>
<% end %>
<%= link_to 'Back to project', action: 'show', id: @project['_id'].to_s%> |

<%= link_to 'Unfinished Tasks', action: 'indexUnfinishedTasks', id: @project['_id'].to_s%>
<br><br>


<h2> Project Plan and Progress</h2>

<div style="width:1000px; float:left;">

<% (@startDate .. @endDate ).each do |date| %>

	<br>
	

	<b> <%= Date::DAYNAMES[date.wday] %> , <%= date %>  </b> <br>

	<% if @project.has_key? 'plan' and @project['plan'].has_key? date.to_s and @project['plan'][date.to_s].has_key? "todolist_id" %>
			
		<% todolistId = @project['plan'][date.to_s]['todolist_id']%>
		<% todolist = $todolist_collection.find({ :_id => todolistId }).to_a[0]%>
			
			
		<%#= render partial: '/todolist/show_inline_no_update', locals:{ todolist: todolist, addNewTaskField: false }%>
		
		<p>
			Efficiency = <%= todolist['finished estimated man hours'] %>  / <%= todolist['total actual man hours']  %> <br>
			Unfinished Work MH Est. = <%= todolist['estimated man hours left'] %> <br>
			
			Total Work MH Est. = <%= todolist['total estimated man hours']%> <br>
		</p>

		<%= link_to 'Daily Tasks', controller: 'todolist', action: 'show', id: todolistId %>

	<% else %>
		<p>
			No Task Planned.<br>
		</p>
		<%= link_to 'Daily Tasks', controller: 'todolist', action: 'new', projId: @project['_id'], date: date%>
	<% end %>
	
	<br><br>
	
	<hr>
	
	
<% end %>
</div>