

<div id="inputForm">
	<%= link_to "Submit a change request", controller: 'log_entry', action: 'show_change_request_form', :id => "dummy", remote: true%>
	
	<h2> Crew Change Input Form: </h2>

	<%= form_for :log_entry, url: '/log_entry' do |f| %>
		<p>
	    	<%= f.label :siteId, "Site ID" %><br>
	    	<%= f.text_field :siteId%>
	  	</p>

		<p>
	    	<%= f.label :oldCrew, "Enter the emails of the OLD crew separated by space" %><br>
	    	<%= f.text_area :oldCrew%>
	  	</p>

		<p>
	    	<%= f.label :newCrew, "Enter the emails of the NEW crew separated by space" %><br>
	    	<%= f.text_area :newCrew%>
	  	</p>

		<p>
	    	<%= f.submit "Submit" %>
	  	</p>
	<%end %>
</div>