
	<div style="width:1200px; margin:0px;">


	<div style="width:1200px; float:left;">
		<hr style="margin:0px;">
		<div class='wSmall'>
			<b> Id </b>
		</div>
		
		<% if wo.has_key? 'parentWoId'%>
			<div class='wSmall'>
				Granted?
			</div>
		<% end %>
		
		<div class='wSmall'>
			<b> Site ID </b>
		</div>
		
		<div class='wSmall'>
			<b> RFx Number </b>
		</div>
		
		<%if not wo['type'].nil? and not wo['type'].include? 'Pre-Approval'%>
			<div class='wSmall'>
				<b> CPO </b>
			</div>
		<% end %>
		
		<div class='wSmall'>
			<b> Name </b>
		</div>
		
		
	</div>
	
	<div style="width:1400px; float:left;">
		<% if  wo.has_key? "workOrderId" %>
			<% linkText = wo["workOrderId"].to_s %>

		<% else %>
			<% linkText = wo['_id'].to_s %>
		<% end %>
		<div class='wSmall'>
			<%= link_to linkText, {controller: 'work_order', action: 'show', id: wo['_id'].to_s}, {style: "color:green;"} %>
		</div>
		
		<% if wo.has_key? 'parentWoId'%>
			<div class='wSmall'>
				<%if wo['grant'].nil? %>
					No
				<% elsif wo['grant']['status'] == 'notGranted' %>
					No
				<% else %>
					Yes
				<% end %>
			</div>
		<% end %>
		
		<div class='wSmall'>
			<%= printReplaceEmpty wo['siteId'] %>
		</div>
		
		<div class='wSmall'>
			<%= printReplaceEmpty wo['rfxNumber'] %>
		</div>
		
		<%if not wo['type'].nil? and not wo['type'].include? 'Pre-Approval'%>
			<div class='wSmall'>
				<% if wo.has_key? 'cpo' and ( not wo['cpo'].empty? )  %>
					<%= link_to wo['cpo']['cpoNum'], controller: 'cpo', action: 'show', id: wo['_id'] %>
				<% end %>
			</div>
		<% end %>
		
		<div class='wSmall'>
			<%= printReplaceEmpty wo['name'] %>
		</div>
		
		
		<div class='wSmall'>
			<%= link_to 'Delete', {controller: 'work_order', action: 'destroy', id: wo['_id']}, {method: :delete, data: { confirm: "Are you sure?" }} %>
		</div>
	</div>
	<br>
</div>
