
<%= form_for :change_request, url: '/change_request' do |f| %>
	<input type="hidden" name="woId" value="<%= @parentWoId %>" />
	
	
	<p>
		<%= f.label :cr3sid, "3SN Change Request ID:" %><br>
		<%= f.text_field :cr3sid, value: @cr3sid %>
	</p>
	
	<p>
		<%= f.label :description, "Description:" %><br>
		<%= f.text_area :description%>
	</p>
	<br>
	Change Request Type:
	<p>
		<%= radio_button_tag 'change_request[type]', 'crReport' %> CR Report<br> 
		<%= radio_button_tag('change_request[type]', 'crInquiry') %> CR Inqury <br>
	</p>
	<%= f.submit%>
<% end %>