<% if(current_user["customerMode"]['customerId'] == "" or current_user["customerMode"]['customerId'] == "All Customers")%>
	Please choose a specific customer mode in dashboard
<%else %>

	<h2> New <%= getCustomerMode.capitalize %> Site Form:</h2>

	<%= form_for :site, url: '/site' do |f| %>

		<%= f.text_field :customerId, value:current_user["customerMode"]['customerId'], style:'display:none;'%>
	
		<%= f.label :customerSiteId, "#{getCustomerMode.capitalize} Site ID" %>
		<%= f.text_field :customerSiteId%><br><br>
	
		<%= f.label :siteName, "Site Name" %>
		<%= f.text_field :siteName%><br><br>
	
		<%= f.label :structureType, "Structure Type" %>
		<%= f.text_field :structureType%><br><br>
	
		<%= f.label :towerCompany, "Tower Company" %>
		<%= f.text_field :towerCompany%><br><br>
	
		<%= f.label :siteAddress, "Site Address" %>
		<%= f.text_field :siteAddress%><br><br>
	
		<%= f.label :siteZip, "Site Zip" %>
		<%= f.text_field :siteZip%><br><br>
	
		<%= f.label :siteCity, "Site City" %>
		<%= f.text_field :siteCity%><br><br>
	
		<%= f.label :siteLong, "Site Longitude" %>
		<%= f.text_field :siteLong%><br><br>
	
		<%= f.label :siteLat, "Site Latitude" %>
		<%= f.text_field :siteLat%><br><br>
	
		<%#= f.label :projMan, "Site Project Manager" %>
		<%#= f.text_field :projMan, "class" => "personInput"%>
	
		<%#= f.label :constMan, "Site Construction Manager" %>
		<%#= f.text_field :constMan, "class" => "personInput"%>
	
		<%#= f.label :copInCharge, "COP In Charge" %>
		<%#= f.text_field :copInCharge, "class" => "personInput"%>
	
		<p>
			<%= f.label :notes, "Enter any additional notes" %><br>
	    	<%= f.text_area :notes %>
		</p>
	
	
		<p>
			<%= f.submit "Submit" %>
		</p>
	
	
	<% end %>

<% end %>