<%= form_for :site, url: '/site' do |f| %>

	<%= f.label :siteId, "Site ID" %>
	<%= f.text_field :siteId%><br>
	
	<%= f.label :basePackage, "Base Package" %>
	<%= f.text_field :basePackage%><br><br>
	
	<%= f.label :crew, "Enter the emails of the crew for this site, separated by space"%><br>
	<%= f.text_area :crew %><br>
	
	<p>
		<%= f.submit "Submit" %>
	</p>
	
	
<% end %>