<h2> New Site Form:</h2>

<%= form_for :site, url: '/site' do |f| %>

	<%= f.label :siteId, "Site ID" %>
	<%= f.text_field :siteId%><br><br>
	
	<%= f.label :projectCode, "Project Code" %>
	<%= f.text_field :projectCode%><br><br>
	
	<%= f.label :siteType, "Site Type" %>
	<%= f.text_field :siteType%><br><br>
	
	<%= f.label :siteAddress, "Site Address" %>
	<%= f.text_field :siteAddress%><br><br>
	
	<%= f.label :siteLat, "Site Latitude" %>
	<%= f.text_field :siteLat%><br><br>
	
	<%= f.label :siteLong, "Site Longitude" %>
	<%= f.text_field :siteLong%><br><br>
	
	<%= f.label :projMan, "Site Project Manager" %>
	<%= f.text_field :projMan, "class" => "personInput"%><br><br>
	
	<%= f.label :constMan, "Site Construction Manager" %>
	<%= f.text_field :constMan, "class" => "personInput"%><br><br>
	
	<%= f.label :copInCharge, "COP In Charge" %>
	<%= f.text_field :copInCharge, "class" => "personInput"%><br><br>
	
	<p>
		<%= f.label :notes, "Enter any additional notes" %><br>
    	<%= f.text_area :notes %>
	</p>
	
	
	<p>
		<%= f.submit "Submit" %>
	</p>
	
	
<% end %>