


	<%= form_for :site, url: '/site' do |f| %>

		<p>
			<%= f.label :customerId, "3SN Customer ID" %><br>
			<%= f.text_field :customerId, "class" => "required customerInput textField" %>
		</p>
	
		<%= f.label :customerSiteId, "Customer Site ID" %><br>
		<%= f.text_field :customerSiteId, "class" => "textField"%><br><br>
	
		<%= f.label :siteName, "Site Name" %><br>
		<%= f.text_field :siteName, "class" => "textField"%><br><br>
	
		<%= f.label :structureType, "Structure Type" %><br>
		<%= f.text_field :structureType, "class" => "textField"%><br><br>
	
		<%= f.label :towerCompany, "Tower Company" %><br>
		<%= f.text_field :towerCompany, "class" => "textField"%><br><br>
	
		<%= f.label :siteAddress, "Site Address" %><br>
		<%= f.text_field :siteAddress, "class" => "textField"%><br><br>
	
		<%= f.label :siteZip, "Site Zip" %><br>
		<%= f.text_field :siteZip, "class" => "textField"%><br><br>
	
		<%= f.label :siteCity, "Site City" %><br>
		<%= f.text_field :siteCity, "class" => "textField"%><br><br>
	
		<%= f.label :siteLong, "Site Longitude" %><br>
		<%= f.text_field :siteLong, "class" => "textField"%><br><br>
	
		<%= f.label :siteLat, "Site Latitude" %><br>
		<%= f.text_field :siteLat, "class" => "textField"%><br><br>
	
		<%#= f.label :projMan, "Site Project Manager" %>
		<%#= f.text_field :projMan, "class" => "personInput"%>
	
		<%#= f.label :constMan, "Site Construction Manager" %>
		<%#= f.text_field :constMan, "class" => "personInput"%>
	
		<%#= f.label :copInCharge, "COP In Charge" %>
		<%#= f.text_field :copInCharge, "class" => "personInput"%>
	
		<p>
			<%= f.label :notes, "Enter any additional notes" %><br>
	    	<%= f.text_area :notes %>
		</p>
	
	
		<p>
			<%= f.submit "Submit" %>
		</p>
	
	
	<% end %>
