<table>
	<tr>
		<td>Site ID</td>
		<td>Project Code</td>
		<td>Site Type</td>
		<td>Site Address</td>
		<td>Project Manager</td>
		<td>Construction Manager</td>
		<td>COP In Charge</td>
	</tr>
	<tr>
		<td><%= site['siteId']%></td>
		<td><%= site['projectCode']%></td>
		<td><%= site['siteType']%></td>
		<td><%= site['siteAddress']%></td>
		<td>
			<%= linkToPerson(site['projMan']) %>
		</td>
		<td>
			<%= linkToPerson(site['constMan']) %>
		</td>
		<td>
			<%= linkToPerson(site['copInCharge']) %>
		</td>
		
		<td> <%= link_to 'show options', controller:'site', action:'show_options', id:site['_id'], remote: true%>
</table>

<% classString = "site_options_#{site['_id']}"%>
<table class=<%= classString %> style="display:none;">	
		
		<td> 
			<%= link_to 'Submit Activity Report', controller: 'log_entry', action: 'new_activity_report', id: site['_id']%>
		</td>
		<td> 
			<%= link_to 'Submit Change Request', controller: 'log_entry', action: 'new_change_request', id: site['_id']%>
		</td>
		<td> 
			<%= link_to 'edit', controller: 'site', action: 'edit', id: site['_id'] %>
		</td>
		<td>
			<%= link_to 'Delete', {controller: 'site', action: 'destroy', id: site['_id']}, {method: :delete, data: { confirm: "Are you sure?" }} %>
		</td>
	</tr>
</table>