<%#= site %>

<div style=''>
	<div style="width:2500px; float:left;">
		<hr>
		<div class='wSmall'> Customer</div>
		<div class='wSmall'> Customer Site ID</div>
		<div class='wSmall'> Site Name</div>
		<div class='wSmall'> Structure Type</div>
		<div class='wSmall'> Tower Company</div> 
		<div class='wSmall'> Site Address</div>
		<div class='wSmall'> Site Zip Code</div>
		<div class='wSmall'> Site City</div>
		<div class='wSmall'> Longitude</div>
		<div class='wSmall'> Latitude</div>
		
		<div >		
			
	</div>
	<div style="width:2500px; float:left;">
		<div class='wSmall'><%= getNameFromBsonId $customer_collection,  'customerName', site['customerId']%></div> 
		<div class='wSmall'><%= site['customerSiteId']%></div> 
		<div class='wSmall'><%= site['siteName']%></div> 
		<div class='wSmall'><%= site['structureType']%></div>
		<div class='wSmall'><%= site['towerCompany']%></div>
		<div class='wSmall'><%= site['siteAddress']%></div>
		<div class='wSmall'><%= site['siteZip']%></div>
		<div class='wSmall'><%= site['siteCity']%></div>
		<div class='wSmall'><%= site['siteLong']%></div>
		<div class='wSmall'><%= site['siteLat']%></div>

	
		
	</div>
	
	<div class='wSmall'> 
		<%#= link_to 'Submit Activity Report', controller: 'log_entry', action: 'new_activity_report', id: site['_id']%>
	</div>
	
	

		


<%# <NOTE: uncomment this and take away slashes in the display:none below to click on this then show options for site, otherwise they're visible by default> = link_to 'show options', controller:'site', action:'show_options', id:site['_id'], remote: true%>
</div>



<div style="display:none;">
	
	<% classString = "site_options_#{site['_id']}"%>
	<table class=<%= classString %> >	

			<div class='wSmall'> 
				<%= link_to 'Submit Activity Report', controller: 'log_entry', action: 'new_activity_report', id: site['_id']%>
			</div>
		</tr>
	</table>
	
	
	<div class='wSmall'> 
		<%= link_to 'Submit Change Request', controller: 'log_entry', action: 'new_change_request', id: site['_id']%>
	</div>
	<div class='wSmall'> 
		<%= link_to 'edit', controller: 'site', action: 'edit', id: site['_id'] %>
	</div>
	<div class='wSmall'>
		<%= link_to 'Delete', {controller: 'site', action: 'destroy', id: site['_id']}, {method: :delete, data: { confirm: "Are you sure?" }} %>
	</div>
</div>