<!DOCTYPE html>
<html>
<head>
  	<title>Statuser</title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body style="font-family: 'Arial';">
	
	<div style="width:1600px; height:80px;">
		<div style="float:left;">
			<%= image_tag "/assets/3SN_Logo.jpg" ,{style: "width:200px;"}%>
		</div>
	
		<% if !current_user.nil? %>
			<%= link_to "Home",  :controller => 'project', :action => 'index' %> | 
			<%= link_to current_user['email'], :controller => 'person', :action => 'show', :id => current_user['_id'] %> | 
			<%= link_to "Logout", {:controller => "login_session", :action => "destroy", :id => "1"}, :method => :delete %>
		<% else %>
			<%= link_to "Login",  {:controller => "login_session", :action => "new" } %>
		<% end %>
		| <%= link_to "Dashboard",  :controller => 'list', :action => 'index' %>	
		<br>
		<br>
	

		
		<br></br>
	
		<%if false and current_user and current_user['role'] == "admin" %>
			<br><br>Purchase Order Management: 
			<%= link_to "Bids",  :controller => 'bid', :action => 'index' %> |
			<%= link_to "Quotes",  :controller => 'quote', :action => 'index' %> | 
			<%= link_to "Projects",  :controller => 'project', :action => 'index' %> | 
		<%end%>
	
		<div id="flashNotice">
			<%= render :partial => 'layouts/flash_notice' , :locals => { :flash => flash } %>
		</div>
	</div>
	<%= yield %>

</body>
</html>
